body {
    background-image: linear-gradient(to right, #111826, #182135);
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
h1 {
    font-weight: normal;
}
h2 {
    font-weight: normal;
}
h3 {
    font-weight: normal;
}
a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}
a:hover {
    color: gray;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
}
.explanation, .summary, .error {
    width: 60%;
    margin-right: 2%;
    padding: 15px;
    background-color: #1F2936;
    border-radius: 10px;
}
.form, .stats, .input {
    width: 40%;
    margin-left: 2%;
    background-color: #1F2936;
    border-radius: 10px;
}
input {
    margin: 5px;
    border-radius: 10px;
    font-size: 110%;
}
input[type=text] {
    width: 80%;
    padding: 10px;
    color: white;
    box-sizing: border-box;
    background-color: #374151;
}
input[type=reset], input[type=submit] {
    width: 35%;
    color: white;
    padding: 10px;
    cursor: pointer;
}
input[type=reset] {
    background-image: linear-gradient(to top right, #750a0a, #7d5a03);
}
input[type=reset]:hover {
    background-image: linear-gradient(to top right, #d31212, #e1a205);
}
input[type=submit] {
    background-image: linear-gradient(to top right, #08772b, #087777);
}
input[type=submit]:hover {
    background-image: linear-gradient(to top right, #0ca73d, #0ca7a7);
}