<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Summary</title>
        <link rel="stylesheet" href="static/styles.css">
    </head>
    <body>
        <h1>
            Terms and Conditions Summariser
        </h1>
        <h3>
            Creates both a paraphrased (abstractive) summary of the terms and conditions, as well as picking out the key sentences
        </h3>
        <div class="flex-container">
            <div class="stats">
                <h1>
                    Stats
                </h1>
                <p>
                    Insert stats here
                </p>
            </div>
            <div class="summary">
                <h2>
                    Summary
                </h2>
                <p>
                    {{ summary_a }}
                </p>
                <h2>
                    Key Information
                </h2>
                <p>
                    {{ summary_e }}
                </p>
            </div>
        </div>
    </body>
</html>